.notes_table_word_wrap{
    white-space: nowrap; 
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }
  
  
  
  .notes_table_word_wrap:hover{
  overflow: visible; 
  white-space: normal;
  height:auto;  
  }